@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --color-primary: theme("colors.pink.500");
  --color-primary-light: theme("colors.pink.400/10%");
  --color-primary-dark: theme("colors.pink.600/10%");
  --color-secondary: theme("colors.indigo.500");
  --color-secondary-light: theme("colors.indigo.400/10%");
  --color-secondary-dark: theme("colors.indigo.600/10%");
  --color-text: theme("colors.gray.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: theme("colors.pink.400" / 4%);
  --color-background-offset: theme("colors.pink.400" / 10%);
  --color-gradient: theme("colors.gray.50");
  --color-gradient-offset: theme("colors.gray.100");
  --color-border: theme("colors.gray.900" / 10%);
}

[data-theme="dark"] {
  --color-primary: theme("colors.pink.400");
  --color-primary-light: theme("colors.pink.300/10%");
  --color-primary-dark: theme("colors.pink.800/10%");
  --color-secondary: theme("colors.indigo.400");
  --color-secondary-light: theme("colors.indigo.300/10%");
  --color-secondary-dark: theme("colors.indigo.800/10%");
  --color-text: theme("colors.gray.50");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.gray.900");
  --color-background-offset: theme("colors.gray.800");
  --color-gradient: theme("colors.gray.900");
  --color-gradient-offset: theme("colors.gray.800");
  --color-border: theme("colors.gray.50" / 10%);
}

html {
  @apply h-full motion-safe:scroll-smooth;
}

body,
#__next {
  @apply font-sans h-full bg-default text-base;
  scroll-behavior: smooth;
}

h1 {
  @apply lowercase font-display text-primary font-bold tracking-widest text-6xl md:text-7xl lg:text-8xl xl:text-9xl;
}

h2 {
  @apply lowercase font-display text-primary font-bold tracking-widest text-5xl lg:text-6xl;
}

h3 {
  @apply font-serif text-primary text-2xl md:text-3xl;
}

a {
  @apply font-semibold  underline-offset-4 hover:bg-clip-text hover:text-transparent hover:bg-gradient-to-r hover:from-secondary hover:via-primary hover:to-pink-300;
}

.legend {
  @apply text-xs text-offset;
}
